body{font-size: 12pt; 
    line-height: 17pt;
}
.body{
    background:url(../bgimage/副本_副本.jpg);
}
td{font-FAMILY:宋体;font-size: 9pt; line-height: 160%}
.article_title{font-FAMILY:隶书;font-size: 16pt;  letter-spacing: 2px; line-height: 130%; margin: 6; font-weight: bold;}
.newfont2{font-FAMILY:宋体;font-size: 9pt; line-height: 12pt}
.newfont3{font-FAMILY:宋体;font-size: 9pt; line-height: 12pt}
.thetd{font-FAMILY:宋体;font-size: 10.5pt; color:#000000;line-height: 120%;font-weight:None;font-style: None}
a:hover {color: #FF0000}
a:link {text-decoration: none}
a:visited {text-decoration: none}
